header {
  height: 34vh;
  background: url(assets/banner.png) center center no-repeat;
  background-size: 100%; 
}
.about {
  justify-content: center;
  width: 90%;
  border: solid 8px #fcc70e;
  border-radius: 20px;
  text-align: justify;
}
#aboutHeader {
  color: #52c3be;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
}
#pic1 {
  margin-top: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
}
.why {
  justify-content: center;
  width: 90%;
  border: solid 8px #cb6ce6;
  border-radius: 20px;
  text-align: justify;
}
#whyHeader {
  color: #fcc70e;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
}
.how {
  justify-content: center;
  width: 90%;
  border: solid 8px #52c3be;
  border-radius: 20px;
  text-align: justify;
}
#howHeader {
  color: #cb6ce6;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
}