header {
  height: 34vh;
  background: url(assets/banner.png) center center no-repeat;
  background-size: 100%; 
}
.content {
  height: 200vh;
}
.about {
  justify-content: center;
  width: 90%;
  height: 30%;
  border: solid 8px #fcc70e;
  border-radius: 20px;
  text-align: justify;
  margin-bottom: 3%;
  overflow-x: scroll;
}
#aboutHeader {
  color: #52c3be;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
  padding-top: .5%;
}
#pic6 {
  margin-top: 10px;
  padding: 10px;
  width: 70%;
  border-radius: 20px;
}
.why {
  justify-content: center;
  width: 90%;
  height: 40%;
  border: solid 8px #cb6ce6;
  border-radius: 20px;
  text-align: justify;
  margin-bottom: 3%;
  overflow: scroll;
}
#whyHeader {
  color: #fcc70e;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
  padding-top: .5%;
}
ol {
  margin-left: 10%;
  margin-right: 10%;
}
p {
  text-align: center;
  font-family: 'ABeeZee', sans-serif;
  color: #52c3be;
  font-size: 1.2em;
}
u {
  color: #fcc70e;
  font-family: 'ABeeZee', sans-serif;
}
li {
  font-family: 'Montserrat', sans-serif;
}
.how {
  justify-content: center;
  width: 90%;
  height: 18%;
  border: solid 8px #52c3be;
  border-radius: 20px;
  text-align: justify;
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
}
#howHeader {
  color: #cb6ce6;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
  padding-top: .5%;
}
a {
  color: #52c3be;
  font-family: 'ABeeZee', sans-serif;
}
a:hover {
  color: #fcc70e;
}
@media (max-width: 800px) {
  legend {
     font-size: 1em;
  }
}