header {
  height: 34vh;
  background: url(assets/banner3.png) center center no-repeat;
  background-size: 100%; 
}
.chapters {
  justify-content: center;
  width: 30%;
  height: 75vh;
  border: solid 8px #fcc70e;
  border-radius: 20px;
  text-align: justify;
  margin-right: 3%; 
  overflow: scroll;
}
#chapterHeader {
  color: #52c3be;
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  text-align: center;
}
div {
  border-top: solid 8px #52c3be;
  border-bottom: solid 8px #52c3be;
}
h3 {
  text-align: center;
  text-decoration: underline;
  font-family: 'ABeeZee', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
iframe {
  margin-top: 2%;
  border: solid 8px #52c3be;
  border-radius: 20px;
  width: 65%;
  height: 72.5vh;
}