header {
  height: 34vh;
  background: url(assets/banner2.png) center center no-repeat;
  background-size: 100%; 
}
.content {
  height: 145vh;
}
.join {
  border: solid 8px #fcc70e;
  border-radius: 20px;
  width: 95%;
  height: 35%;
  margin-bottom: 3%;
  text-align: justify;
  overflow: scroll;
}
#join {
  color: #cb6ce6;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-top: .5%;
}
.turquoise {
  border: solid 8px #52c3be;
  border-radius: 20px;
  width: 33%;
  height: 60%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: scroll;
}
#turquoise {
  color: #52c3be;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding-top: 1.5%;
}
h4 {
  margin-top: -1%;
}
#tq {
  color: #52c3be;
  text-align: center;
}
.amethyst {
  border: solid 8px #cb6ce6;
  border-radius: 20px;
  width: 33%;
  height: 60%;
  margin-left: 2%;
  text-align: center;
  overflow: scroll;
}
#amethyst {
  color: #cb6ce6;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding-top: 1.5%;
}
#am {
  color: #cb6ce6;
  text-align: center;
}
.email {
  border: solid 8px #fcc70e;
  border-radius: 20px;
  width: 100%;
  height: 60%;
  text-align: center;
  overflow: scroll;
}
#email {
  color: #52c3be;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.3em;
  text-align: center;
  padding-top: 2%;
}
form {
  color: #cb6ce6;
  font-family: 'ABeeZee', sans-serif;
  font-size: 1.1em;
  text-align: center;
}
input {
  border: solid 2px #cb6ce6;
  width: 90%;
}
select {
  width: 90%;
}
#message {
  width: 90%;
  border: solid 2px #cb6ce6;
}
#hackydiv {
  width: 25%;
  height: 60%;
  text-align: center;
  margin-left: 2%;
}
p {
  margin-top: 10%;
  padding: 3%;
  border: solid 8px #52c3be;
  border-radius: 20px;
  width: 100%;
  height: 36%;
  font-size: 1em;
  overflow: scroll;
}
a {
  color: #52c3be;
}
@media (max-width: 800px) {
  header {
    height: 10vh;
  }
  legend {
     font-size: 1em;
  }
  .turquoise { 
    width: 100%;
    height: 20%;
  }
  .amethyst { 
    width: 100%;
    height: 20%;
    margin-left: 0%;
  }
  .email { 
    width: 100%;
    height: 50%;
  }
  #hackydiv {
    width: 100%;
    margin-left: 0%;
  }
  p {
    margin-top: 5%;
    background-color: #ffffff;
    height: 18%;
    padding: 0%;
  }
}