header {
  height: 34vh;
  background: url(assets/banner.png) center center no-repeat;
  background-size: 100%; 
}
.content {
  height: 90vh;
}
.main {
  border:solid 4px #52c3be; 
  border-radius: 15px;
  width:60%;
  height:100%;
  margin-right: 3%;
}
.events {
  border:solid 4px #fcc70e; 
  border-radius: 15px;
  width:30%;
  height:100%;
}