html {
  box-sizing: border-box;
  background: #cb6ce6;
}

body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  height: 78vh;
  background: url(assets/PDXkcc.png) bottom center no-repeat;
  background-size: 100%; 
}
.content {
  max-width: 90%;
  margin: 70px auto;
  background: white;
  padding: 40px;
  text-align: justify;
  transform: scale(0.98);
  transition: transform 0.5s;
}
body.fixed-nav .content {
  transform: scale(1);
}

nav {
  background: #52c3be;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

li.name {
  max-width: 0;
  overflow: hidden;
  background: #fcc70e;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}


.fixed-nav li.name {
  max-width: 900px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}