@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat&display=swap');
html {
  box-sizing: border-box;
  background-image: url(assets/bg.png);
  background-size: 100%;
  height: 140%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  overscroll-behavior: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header {
  height: 78vh;
  background: url(assets/PDXkcc.png) bottom center no-repeat;
  background-size: 100%; 
}
.content {
  max-width: 70%;
  margin: 30px auto;
  background: white;
  padding: 20px;
  text-align: wrap;
  font-family: 'Montserrat', sans-serif;
  transform: scale(0.98);
  transition: transform 0.5s;
  opacity: 1;
  border-radius: 20px;
  border: solid 25px #cb6ce6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body.fixed-nav .content {
  transform: scale(1);
}

nav {
  background: #52c3be;
  font-family: 'ABeeZee', sans-serif;
  top: 0;
  width: 100%;
  transition:all 0.5s;
  position: relative;
  z-index: 1;
}

body.fixed-nav nav {
  position: fixed;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav li:hover {
  background: #cb6ce6;
}
li.name {
  max-width: 0;
  overflow: hidden;
  background: #fcc70e;
  transition: all 0.5s;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.fixed-nav li.name {
  max-width: 900px;
}
.fixed-nav li.name:hover {
  color: #52c3be;
}
nav a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: white;
  transition: all 0.2s;
  text-transform: uppercase;
}
nav a:hover {
  color: #fcc70e;
}
.intro {
  justify-content: center;
  width: 90%;
  border: solid 8px #fcc70e;
  border-radius: 20px;
  padding: 10px;
  text-align: justify;
}
#pic1 {
  margin-top: 20px;
  padding: 10px;
  width: 50%;
  border-radius: 20px;
}
#welcome {
  color: #52c3be;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
}
.moments {
  justify-content: center;
  width: 45%;
  height: 60%;
  text-align: block;
  border: solid 8px #52c3be;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  overflow: scroll;
  font-family: 'Montserrat', sans-serif;
}
#moment {
  color: #cb6ce6;
  font-family: 'ABeeZee', sans-serif;
  font-size: 2em;
  text-align: center;
}
#piper {
  padding: 5px;
}
h3 {
  text-align: left;
  font-family: 'ABeeZee', sans-serif;
  color: #fcc70e;
}
#first {
  font-family: 'ABeeZee', sans-serif;
}
